<form
class="c-form"
c-target="#main"
action="{{ url_for('transaction.cadastrar_categoria')}}" 
method="post">
    
    <div class="mb-3">
        <label for="icategoria" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="icategoria" name="categoria" aria-describedby="dica" required>
    <div id="dica" class="form-text">A categoria deve ser simples e objetiva</div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Categoria
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>

            </th>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>