<form 
class="c-form"
c-target="#main"
action="{{ url_for('transaction.cadastrar_transacao')}}" 
method="post">

    <div class="mb-3">
        <label for="ivalor" class="form-label">Valor</label>
        <input type="number" class="form-control" id="ivalor" name="valor" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">Digite o valor da transação</div>
    </div>

    <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="categoria" required>
            <option selected>Selecione uma categoria</option>

            {% for categoria in categorias %}

                {% include "categoria.html" %}

            {% endfor %}

        </select>
    </div>

    <div class="mb-3">
        <label for="idescricao" class="form-label">Uma pequena descrição</label>
        <textarea class="form-control" name="descricao" id="idescricao" rows="3"></textarea>
        </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

